.container{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
}
.addContainer{
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #999999;
}
.addWrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.wrapper{
    border-radius: 2px;
    border: 1px solid #e1e2e3;
    background-color: #f8f9f9;
    align-items: center;
    justify-content: center;
    display: flex;
}
.icon{ 
  font-size: 18px !important;
  color: #fff;
}
.text{
    font-family: NunitoSans-SemiBold;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #595c60;
}
.loader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteContainer{
    width: 36px;
    height: 36px;
    border-radius: 2px;
    background-color: #de4645;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
