.container{
    border-top: 1px solid #e1e2e3;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: flex-start;
    word-wrap: break-word;
    white-space: initial;
}
.name{
    width: 14.5%;
    display: flex;
}
.nameTextStyle{
    font-family: NunitoSans-SemiBold;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #268bd0;
    text-decoration: unset;
    word-wrap: break-word;
    white-space: initial;
    text-align: left;
    width: 80%;
}
.nameButtonStyle{
    text-align: left;
    width: 80%;
    height: auto;
}

.email{
    width: 20%;
    font-family: NunitoSans-Regular;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #21262b;
    display: flex;
}
.phone{
    width: 13%;
    font-family:  NunitoSans-Regular;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #21262b;
    display: flex;
}
.skill{
    width: 18%;
    font-family:  NunitoSans-Regular;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #21262b;
    display: flex;
}
.location{
    width: 14.5%;
    font-family:  NunitoSans-Regular;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #21262b;
    display: flex;
}
.date{
    width: 11.5%;
    font-family:  NunitoSans-Regular;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #21262b;
    display: flex;
}
.ratingContainer{
    width: 8.5%;
    display: flex;
    justify-content: space-between;
}
.gap{
    width: 20%;
}
.text{
    width: 80%;
}
