.container{
    border: 1px solid #e1e2e3;
    border-top: 0px;
    padding-right: 18px;
    padding-left: 18px;
    background-color: #fff;
}
.subCategoryContainer{
    border: 0px;
    font-family: NunitoSans;
}
.subCategoryNameStyle{
    font-family: NunitoSans-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #595c60;
}
.noContent{
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: NunitoSans-Bold;
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
}