.container{
    padding: 18px;
    background-color: #fff;
}
.InputStyle{
    height: 36px;
}
.separator{
    border-bottom: 1px solid#f6f8fa;
    margin-bottom: 18px;
}
.headingContainer{
    font-family: NunitoSans-Bold;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #21262b;
    margin-bottom: 12px;
}

.dropdown{
    margin-bottom: 18px;
}
.inputHeading{
    font-family: NunitoSans-Regular;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #595c60;
    margin-bottom: 4px;
}
.buttonTextStyle{
    font-family: NunitoSans-SemiBold;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #268bd0;
    text-decoration: unset;
    height: 20px;
}
.buttonStyle{
    border-radius: 2px;
    background-color: #e5f1f9;
    margin-bottom: 18px;
}
.deleteOutlinedContainer{
    color: #de4645;
    display: flex;
    align-items: center;
}
.thumbnail{
    width: 100%;
    height: 140px;
}
.AddTeachersContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    align-items: center;
}
.TeachersText {
    font-family: NunitoSans-Bold;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #21262b;
}
.next{
    width: 120px;
    height: 36px;
    border-radius: 2px;
    background-color: #0883a7;
    font-family: NunitoSans-SemiBold;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
}
.cancel{
    width: 120px;
    height: 36px;
    border-radius: 2px;
    background-color: #fff;
    font-family: NunitoSans-SemiBold;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #0883a7;
    margin-right: 12px;
}